/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

/* Wrapper */
.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Hero Section */
.hero {
    background-image: url(../../assets/Images/lake-como.jpeg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    margin: 0;
    font-size: 3em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

.hero-button {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #4a90e2; /* Blue color */
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #3879d6; /* Darker blue on hover */
}

/* Header */
.header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #4a90e2; /* Blue color for header */
}

.header-buttons {
    margin-top: 20px;
}

.header-buttons a {
    margin-left: 15px;
    padding: 10px 20px;
    border: 2px solid #4a90e2; /* Blue border */
    border-radius: 25px; /* Rounded corners */
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #4a90e2; /* Blue color */
}

.header-buttons a:hover {
    background-color: #4a90e2; /* Blue background */
    color: #fff; /* White text */
}

/* Main Content */
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Content sections at top */
    flex-wrap: wrap;
    margin-top: 30px;
    flex-grow: 1;
}

.container {
    flex: 0 0 calc(32% - 20px); /* Adjust width for 3 columns */
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 10px; 
    background-color: #fff;
    transition: transform 0.3s ease;
}

.container:hover {
    transform: translateY(-5px); /* Hover effect */
}

.container h2 {
    margin-bottom: 20px;
    color: #333;
}
