/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Wrapper */
  .wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  /* Header */
  .header {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .header h1 {
    margin: 0;
    font-size: 2em;
  }
  
  .header-buttons {
    margin-top: 10px;
  }
  
  .header-buttons a {
    margin-left: 10px;
    padding: 8px 16px;
    border: 1px solid #333;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .header-buttons a:hover {
    background-color: #333;
    color: #fff;
  }
  
  /* Main Content */
  .main-content {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-grow: 1;
    z-index: 1;
  }
  
  .container {
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .container h2 {
    margin-bottom: 20px;
  }
  
  .container img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  /* Footer */
  .footer {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .footer-links {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-links a {
    margin: 0 10px;
    padding: 8px 16px;
    border: 1px solid #333;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .footer-links a:hover {
    background-color: #333;
    color: #fff;
  }
  