<div id="container">
  <div class="form-container">
    <h2>L O G I N</h2>
    <form >
      <label for="username">Username <span class="required-asterisk">*</span></label>
      <input type="text" name="username" id="name">
      <label for="password">Password <span class="required-asterisk">*</span> </label>
      <input type="password" name="password" id="pwd">
      <input type="button" value="Login">
    </form>
    <!-- <p>Don't have an account? <a [routerLink]="['/register']">Create a new account</a></p> -->
  </div>
</div>