#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0ebeb;
}

.form-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 80%;
  max-width: 400px;
  animation: fadeIn 0.5s ease-in-out;
  transition: transform 0.3s ease;
}

.form-container:hover {
  transform: scale(1.02);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  transition: color 0.3s ease;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  color: #666;
  transition: color 0.3s ease;
}

label:hover {
  color: #4CAF50;
}

.required-asterisk {
  color: red;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #4CAF50;
}

input[type="button"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="button"]:hover {
  background-color: #45a049;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}