.about-us-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 30px;
  background-color: #f0ebeb;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10%;
  margin-top: 5%;
}

h2, h3 {
  color: #333;
  text-align: center;
}

.team-members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.team-member {
  flex: 0 0 calc(50% - 40px);
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.member-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;  
  background-color: #ccc;  
  margin-bottom: 10px;
  object-fit: cover;
  border: 4px solid #fff;
}

h4 {
  margin-top: 10px;
  color: #555;
}

p {
  color: #666;
  text-align: center;
  line-height: 1.6;
}
