<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<!-- <app-aboutus></app-aboutus> -->
<!-- <app-contactus></app-contactus> -->
<!-- <app-bucketlist></app-bucketlist> -->
<!-- <app-travel></app-travel> -->
<!-- <a routerLink="dashboard/">Dashboard</a> -->

<!-- <a routerLink="register">Register</a>
<a routerLink="login">Login</a>
<a routerLink="bucketlist">Bucket List</a>
<a routerLink="travel">Travel Planner</a>
<a routerLink="aboutus">About Us</a>
<a routerLink="contactus">Contact Us</a> -->


<!-- <app-homepage></app-homepage> -->
<div class="wrapper">
    <header class="header">
        <h1>Journey Quest</h1>
        <div class="header-buttons">
            <a href="register">Register</a>
            <a href="login">Login</a>
        </div>
    </header>
</div>
<br>
<router-outlet></router-outlet>

<div class="wrapper">
    <footer class="footer">
        <div class="footer-links">
            <a href="">Home</a>
            <a href="aboutus" target="_blank" rel="noreferrer noopener">About Us</a>
            <!-- <a href="bucketlist">Bucket List</a> -->
            <a routerLink="/bucketlist">Bucket List</a>
            <!-- <a routerLink="/bucketlist" routerLinkActive="active" ariaCurrentWhenActive="page">Bucket List</a> -->
            <!-- <a [routerLink]="['buckelist', params]" fragment="bucket">Bucket List</a> -->
            <!--target="_blank" rel="noreferrer noopener"-->
            <a routerLink="/travel" >Travel Planner</a> <!--target="_blank" rel="noreferrer noopener"-->
            <!-- <a href="travel" >Travel Planner</a> target="_blank" rel="noreferrer noopener" -->
            <a href="contactus" target="_blank" rel="noreferrer noopener">Contact Us</a>
        </div>
    </footer>
</div>