body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.header-buttons a {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #555;
}

.header-buttons a:hover {
  background-color: #777;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-grow: 1;
}

.container {
  flex: 1;
  background-color: #f9f9f9;
  padding: 20px;
  margin: 0 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container h2 {
  margin-bottom: 20px;
}

.container img {
  max-width: 100%;
  border-radius: 8px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.footer-links a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
