<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<!-- cc -->
<!-- Hello -->
<!-- <app-aboutus></app-aboutus> -->
<!-- <app-contactus></app-contactus> -->
<!-- <app-bucketlist></app-bucketlist> -->
<!-- <app-travel></app-travel> -->

<a href="register">Register</a>
<a href="login">Login</a>
<a href="bucketlist">Bucket List</a>
<a href="travel">Travel Planner</a>
<a href="aboutus">About Us</a>
<a href="contactus">Contact Us</a>
<!-- <a href="dashboard/">Dashboard</a> -->

<router-outlet></router-outlet>