.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f0ebeb; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10%;
  margin-top: 5%;
}

.bucket-item {
  margin-bottom: 20px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  color: #9933cc; 
  text-align: center;
  font-family: 'Sacramento', cursive; 
}

.fa-star {
  color: orange;
}

label, input, textarea, select {
  display: block;
  margin-bottom: 10px;
}

/* Input Fields */
input[type="text"],
input[type="url"],
textarea, 
select {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  /* Opacity */
  &::placeholder {
    opacity: 0.7;
  }
}

button {
  margin-top: 10px;
  background-color: #9933cc; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #8a2be2; 
}

a {
  margin-top: 10px;
  display: inline-block;
  color: #9933cc; 
}

table {
  border-collapse: collapse;
  width: 100%; 
}

th {
  background-color: #eee;
  text-align: left;
  font-weight: bold;
  width: 40%;
}


td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  width: 40%;
}

/* Slider styles */
.switch {
  position: relative;
  /* display: inline-block; */
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 34px;
  transition: .4s;
  cursor: pointer;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #9933cc;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Round sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Delete */

.switch-container {
  position: relative;
  display: flex;
  align-items: center;
}

/* Trash icon */
.delete-label {
  margin-left: 40px;
  margin-top: -10px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}