<div class="container">
  <h2>✨  My Digital Dreams  ✨</h2>

  <form (ngSubmit)="addItem()" #itemForm="ngForm">
    <label for="title">  Dream Title:</label>
    <input type="text" id="title" name="title" [(ngModel)]="newItem.title" required placeholder="Enter a catchy title for your dream">

    <label for="description">  Describe your Dream:</label>
    <textarea id="description" name="description" [(ngModel)]="newItem.description" required placeholder="Write down all the details!"></textarea>

    <label for="category">  Choose a Category:</label>
    <select id="category" name="category" [(ngModel)]="newItem.category" required>
      <option value="Travel">Travel ✈️</option>
      <option value="Skills">Skills </option>
      <option value="Books">Books </option>
    </select>

    <label for="url">  Reference Link (Optional):</label>
    <input type="text" id="url" name="url" [(ngModel)]="newItem.url" placeholder="Link to a helpful website (optional)">

    <button type="submit">Add Dream to Bucket List</button>
  </form>

  <!-- <div *ngFor="let item of bucketList">
    <h3>{{ item.title }}</h3>
    <p>{{ item.description }}</p>
    <div class="delete-container">
      <label for="delete-{{ item.id }}">Delete</label>
      <input type="checkbox" id="delete-{{ item.id }}" [(ngModel)]="item.isDeleted">
      <span class="slider"></span>
    </div>
  </div> -->

  <h2>Bucket List</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of bucketList">
        <td >  {{ item.title }}</td>
        <td>{{ item.category }}</td>
        <td>
          <mat-slide-toggle [(ngModel)]="item.isCompleted" thumbColor="purple"></mat-slide-toggle>
        </td>
      </tr>
    </tbody>
  </table>
</div>
