.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0ebeb;
}

.form-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 80%; 
  max-width: 400px; 
  animation: fadeIn 0.5s ease-in-out;
  transition: transform 0.3s ease;
}

.form-container:hover {
  transform: scale(1.02);
}

p {
  color: red;
  margin-top: 5%;
  margin-bottom: -5%;
  font-size: small;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  transition: color 0.3s ease;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  color: #666;
  transition: color 0.3s ease;
  display: flex;
  justify-content: space-between;
}

label:hover {
  color: #4CAF50;
}

.required {
  color: red;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  border-color: #4CAF50;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  animation: borderTransition 3s infinite linear;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

button[type="submit"]:focus {
  outline: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 

/* Media queries for responsiveness */

@media only screen and (max-width: 974px) {
  .form-container {
    width: 90%;
  }
}

@media only screen and (max-width: 750px) {
  .form-container {
    width: 95%;
    padding: 10%;
  }
}