<div class="container">
  <div class="form-container">
    <h2>R E G I S T E R</h2>
    <form>
      <label for="firstname">First Name:</label>
      <input type="text" id="firstname" placeholder="Enter your first name">

      <label for="lastname">Last Name:</label>
      <input type="text" id="lastname" placeholder="Enter your last name">

      <label for="username">Username:</label>
      <input type="text" id="username" placeholder="Enter your username">

      <label for="mobile">Contact Number:</label>
      <input type="number" id="mobile" placeholder="Enter your contact number">

      <label for="email">Email:</label>
      <input type="email" id="email" placeholder="Enter your email">

      <label for="password">Password:</label>
      <input type="password" id="password" placeholder="Enter your password">

      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" placeholder="Confirm your password">

      <button type="submit">Register</button>
    </form>
  </div>
</div>
